{% extends 'base.html' %}

{% block title %} Change Password | Unsplash {% endblock title %}  

{% block CPclass %} btn text-danger px-5 {% endblock CPclass %}   

{% block main %}

<!-- message -->

{% if messages %}

{% for message in messages %}

<div class="alert alert-{{message.tags}}">
{{message}}
</div>

{% endfor %}

{% endif %}

<h5>Change Password</h5>
<br>
<form method="POST"> {% csrf_token %}

<input required type="password" name="old_pwd" placeholder="Enter Old Password" class="form-control"> <br>
<input required type="password" name="new_pwd" placeholder="Enter new Password" class="form-control"> <br>
<input required type="password" name="crfm_pwd" placeholder="Enter confirm Password" class="form-control"> <br>
<br>
<button class="btn btn-dark px-5" name="update_pwd">Update Password</button>

</form>


{% endblock main %}


